[submodule "srcs/single-site-store/requirements/wordpress/omniva-woocommerce"]
	path = srcs/single-site-store/requirements/wordpress/omniva-woocommerce
	url = https://github.com/mijora/omniva-woocommerce.git
